{% extends 'base.html' %}

{% block title %}Resources - Emotion Alert{% endblock %}

<body>
{% block content %}
<!-- Resources page specific content goes here -->
<div>
    <h1>Emergency Helplines</h1>
    <p style="line-height: 2;">
        Expereincing repeated panic attacks?<br>
        Call <b>866-903-3787</b><br>
        to reach out to <i>The National Mental Health Hotline</i>.
    </p>
    <p style="line-height: 2;">
        Feeling anxious?<br>
        Text <b>CONNECT</b> to <b>741741</b><br>
        for free 24/7 crisis counseling.
    </p>

    <h1>Guided Meditation</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZToicYcHIOU?si=OHpFafWyttuto9Id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/inpok4MKVLM?si=YT-o7EMEk3vhqDhz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1>Breathing Exercises</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8vkYJf8DOsc?si=aVYGV88H94rOSOIO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}
</body>