{% extends 'base.html' %}

{% block title %}Home - Emotion Alert{% endblock %}

<body>
{% block content %}
<!-- Home page specific content goes here -->
<div>
    <h1>Welcome to Emotion Alert</h1>
        <h2>Inspiration</h2>
        <p style="line-height: 2;">We wanted to create an altruistic software that would minimize the gap in the quality of diagnostic care and treatments given to marginalized patients. Our initial idea was to work with diagnosing heart attacks in women. According to the Journal of Midwifery & Women's Health, Cardiovascular disease (CVD) is the number one cause of death and disability of women in the United States, disproportionately affecting more African American women than any other ethnic group. More than 459,000 women die of CVD annually. The goal is to create a solution to this disparity.</p>

        <br>

        <h2>What it Does</h2>
        <p style="line-height: 2;">With an advanced feature extraction algorithm, the web app can anticipate panic attacks by analyzing changes in heart rate and brain EEG levels detected by the MUSE 2. This predictive capability allows users to proactively address stressors before they escalate by alerting the Wearable Stress Induced Buzzer (WSIB).</p>
        
        <p style="line-height: 2;">The web app not only monitors stress levels in real-time but also provides actionable insights and resources to manage stress effectively. Through intuitive visualizations on the MUSE, users gain immediate access to their stress data, fostering self-awareness and facilitating informed decision-making. Additionally, the app offers a wealth of resources, including guided meditation sessions, breathing exercises, and emergency helplines, all seamlessly accessible on the web app.</p>
</div>
{% endblock %}
</body>
