{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Emotion Alert</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
</head>

<body>
    <div class = "header">
        <!---Directory content-->
        <nav>
            <div class = "navLinks">
                <u1>
                    <li><a href = "./index.html">Home</a></li>
                    <li><a href = "{% url 'feed' %}">Feed</a></li>
                </u1>
            </div>
        </nav>
    </div>

    <div class="content">
        <!-- The rest of your content goes here -->
        <div class="information">
            <!-- Content inside the information div -->
        </div>
    </div>
</body>
</html>

