<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion Alert</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <!-- Your logo and directory content go here -->
    </div>

    <div class="content">
        <!-- The rest of your content goes here -->
        <div class="information">
            <!-- Content inside the information div -->
        </div>
    </div>
</body>
</html>

